
<div class="container Login">
    <div class="row Center">
        <div class="col s10 m5">
            <h2 class="header">Entre</h2>
            <div class="card">
                <div class="card-image Camera">
                    <video class="FWidth Video" autoplay></video>
                    <canvas class="FWidth Imagem"></canvas>
                </div>
                <div class="card-content">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "Form"}) do |f| %>
                        <%= devise_error_messages! %>

                        <div class="Padrao">
                            <div class="field">
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true %>
                            </div>

                            <div class="field">
                                <%= f.label :password %><br />
                                <%= f.password_field :password, autocomplete: "off" %>
                            </div>
                        </div>

                      <!--TODO Implementar checkbox com Rails-->
                        <div class="field">
                            <input name="urlFace" id="urlFace" type="hidden" value="">
                            <input type="checkbox" value="1" name="useFace" id="useFace" checked>
                            <label for="useFace">Entrar com a face</label>
                        </div>

                        <% if devise_mapping.rememberable? -%>
                            <div class="field">
                                <%= f.check_box :remember_me %>
                                <%= f.label :remember_me %>
                            </div>
                        <% end -%>

                        <div class="actions">
                            <%= f.button "Entrar", type: "submit", class: "btn waves-effect waves-light Entrar" %>
                        </div>
                    <% end %>

                    <%= render "users/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>


<%= render partial: "site/mensagens" %>
<%= render partial: "site/script" %>
<%= render partial: "site/error" %>